In [1]:
1+3

4

In [3]:
print(1+3)

4

In [4]:
a=5
a

5

In [5]:
print(a)

5

In [7]:
print("Hello pw skills 
        this is data science masters")    # for 2 lines or new line \n is used

SyntaxError: unterminated string literal (detected at line 1) (1358584050.py, line 1)

In [8]:
print("Hello pw skills \n this is data science masters")    # for 2 lines or new line \n is used

Hello pw skills
 this is data science masters

# Variable assignment

In [10]:
name='priya' # anything written in single or double quotes is called string 
college='khit'

In [11]:
college

'khit'

In [12]:
# variable name used to define a variable is called variable assignment

In [13]:
a=10
a

10

In [15]:
a=20          # 10 is over written by 20
a

20

# type casting

In [16]:
# type is used to know type of data
type(10)

int

In [17]:
type(10.5)

float

In [18]:
type(name)

str

In [19]:
type('name')

str

# *ways to write a varible name
  ### it should not start with number
  ### no special symbols are used
  ### they are case sensitive
  ### reserved keywords should not be used as variable                                 name(int,float,string......)

In [23]:
2a=5
2a

SyntaxError: invalid decimal literal (2924371528.py, line 1)

In [22]:
a2=5
a2

5

In [24]:
_2=2
_2

2

In [25]:
2@=5
2@

SyntaxError: 'literal' is an illegal expression for augmented assignment (1961187395.py, line 1)

In [26]:
2-2=abc

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3529414795.py, line 1)

# boolean

In [27]:
# true 
# false

In [28]:
true        #capital should be used

NameError: name 'true' is not defined

In [30]:
True

True

In [31]:
False

False

In [32]:
True and False

False

In [33]:
True or False

True

In [34]:
not True

False

In [36]:
type(not False)

bool

In [37]:
bool(0)

False

In [38]:
bool(1)

True

In [41]:
a=1
if bool(a)==True:
    print("True")
else:
     print("False")

True

In [45]:
a=0
if bool(a)==True:
    print("True")
else:
     print("False")

False

## Dynamic typing

In [46]:
a=10
a='hi'

In [47]:
a

'hi'

In [48]:
print(type(a))

<class 'str'>

In [49]:
a=10
float(a)

10.0

In [50]:
a=10.5
int(a)

10

### concatenation between different types

In [51]:
# concatenation is merging or combining two stings without adding

In [52]:
"1" + "1"

'11'

In [53]:
# 2 different data types cannot be concatenated

In [54]:
int("1") + "1"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [55]:
"1" * 100

'1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111'

In [57]:
"1" * 1

'1'

In [58]:
"1" * "1"   # strings cannot be multiplied

TypeError: can't multiply sequence by non-int of type 'str'