In [1]:
a=10

In [2]:
a='c'

In [3]:
type(a)

str

In [5]:
int('123')

123

In [6]:
int('abc')        # only numbers can be written in int

ValueError: invalid literal for int() with base 10: 'abc'

In [8]:
print("hello")

hello

In [9]:
#declaring a variable and printing it

In [3]:
age=20
print("my age is :",age)

my age is : 20

In [4]:
print(age)      # another way of printing age

20

In [5]:
type(age)

int

In [13]:
# formatting can also be used    (f string)

In [14]:
# print function without formatting
print("my age is : {age}")

my age is : {age}

In [15]:
# print function with formatting
print(f"my age is :{age}")

my age is :20

In [6]:
# index starts from 0 in python
# while it starts from1 in r program

 #""" format
Signature: format(value, format_spec='', /)
Docstring:
Return value.__format__(format_spec)

format_spec defaults to the empty string.
See the Format Specification Mini-Language section of help('FORMATTING') for
details.
Type:      builtin_function_or_method """

In [10]:
## format()
name="priya"
age=20
print("my name is {} and age is {}".format(name,age))

my name is priya and age is 20

In [17]:
## format()
name="priya"
age=20
print("my name is {} and age is {}".format(age,name)) 
#order should be proper in format to get required output

my name is 20 and age is priya

In [14]:
## format()
name="priya"

print("my name is {} ".format(name))

my name is priya

In [15]:
## format()
age=20
print("my age is {} ".format(age))

my age is 20

In [20]:
# if there are large number of parameters then we need to mention their places
# place holder ( . format)
print("my name is{firstname} and age is {firstage}".format(firstname=name,firstage=age))

my name ispriya and age is 20

In [21]:
name="priya"
age=20
degree="btech"
print("my age is {} and i have completed : my degree of {} with the name of {}".format(age,degree,name))

my age is 20 and i have completed : my degree of btech with the name of priya

In [22]:
print(f" my age is {age} and i have completed : my degree of {degree} with the name of {name}")

 my age is 20 and i have completed : my degree of btech with the name of priya

# Control Flow
## Decision making statements
 * It is kind of making decision during occured situation of program execution and action can be taken according specified conditions.
 * Structure of decision making evaluate several expressions that provide True or False as a result.
 * It is up to you to decide which type of action want to take and execute the statements based upon True or False.
### These are several topics of decision making which going to be discussed below  :
   1) if
   2) if else
   3) if else if
   4) Nested if
   5) Single statement suits

In [27]:
if age<=18: 
    print("you are not elible to vote")

you are not elible to vote

In [23]:
## if statements
age=18
if age>=18:
    print("you are eligible to vote")

you are eligible to vote

In [29]:
if age<18: 
    print("you are not elible to vote") # condition is not given so it cannot print output

In [31]:
# value is within the statement
age=17
if age<18:
    print("you are not eligible to vote")

you are not eligible to vote

In [32]:
# value is within the statement
age=18
if age==18:
    print("you are  eligible to vote")

you are  eligible to vote

In [33]:
# input function can be used to give input run time errors

In [1]:
input()

 priya

'priya'

In [2]:
# input function with variable
name=input("enter name :")

enter name : priya

In [36]:
type(input) # data type of input depends on input we give

method

In [8]:
input()

 10

'10'

In [14]:
age=input("enter your age :")

enter your age : 10

In [15]:
age

'10'

In [10]:
type(age)

str

In [12]:
# to convert the data type of age we use type casting
age=int(input("Enter your age :"))

Enter your age : 10

In [16]:
age

'10'

In [13]:
type(age)

int

In [19]:
#example 1
age=int(input("Enter your age:"))
if age>=18 and age<=45:
    print("you are young blood")

Enter your age: 20

you are young blood

In [22]:
# if condition is wrong it doesnot print the output
age=int(input("Enter your age:"))
if age>=18 and age<=45:
    print("you are young blood")

Enter your age: 49

In [24]:
## if else statement
age=int(input("Enter your age:"))
if age>=18 and age<=45:
    print("you are young blood")
else:
    print("your application is rejected")

Enter your age: 15

your application is rejected

In [25]:

age=int(input("Enter your age:"))
if age>=18 and age<=45:
    print("you are young blood")
else:
    print("your application is rejected")

Enter your age: 40

you are young blood

In [1]:
#example
product_price=int(input("enter your price : "))
if product_price>1000:
    print("the product of price is {}".format(product_price*0.8))
else:
    print("The product of price is {}".format(product_price*0.7))

enter your price :  1200

the product of price is 960.0

In [2]:
product_price=int(input("enter your price : "))
if product_price>1000:
    print("the product of price is {}".format(product_price*0.8))
else:
    print("The product of price is {}".format(product_price*0.7))

enter your price :  980

The product of price is 686.0

In [3]:
product_price=int(input("enter your price : "))
if product_price>1000:
    print(f"The product of price is {product_price*0.8}")
else:
    print(f"The product of price is {product_price*0.7}")

enter your price :  1200

The product of price is 960.0

In [4]:
product_price=int(input("enter your price : "))
if product_price>1000:
    print(f"The product of price is {product_price*0.8}")
else:
    print(f"The product of price is {product_price*0.7}")

enter your price :  980

The product of price is 686.0

In [5]:
product_price=int(input("enter your price : "))
if product_price>3000:
    print("the product of price is {}".format(product_price*0.8))
elif product_price >=2000 and product_price <=3000:
    print("The product of price is {}".format(product_price*0.7))
else:
    print("The product of price is {}".format(product_price*0.6))

enter your price :  5000

the product of price is 4000.0

In [3]:
product_price=int(input("enter your price : "))
if product_price>3000:
    print("the product of price is {}".format(product_price*0.8))
elif product_price >=2000 and product_price <=3000:
    print("The product of price is {}".format(product_price*0.7))
else:
    print("The product of price is {}".format(product_price*0.6))

enter your price :  2500

The product of price is 1750.0

In [4]:
product_price=int(input("enter your price : "))
if product_price>3000:
    print("the product of price is {}".format(product_price*0.8))
elif product_price >=2000 and product_price <=3000:
    print("The product of price is {}".format(product_price*0.7))
else:
    print("The product of price is {}".format(product_price*0.6))

enter your price :  1000

The product of price is 600.0

In [6]:
product_price=int(input("enter your price : "))
if product_price>3000:
    print("the product of price is {}".format(product_price*0.8))
elif product_price >=2000 and product_price <=3000:
    print("The product of price is {}".format(product_price*0.7))
elif product_price >=10 and product_price<=2000:
    print("The product of price is {}".format(product_price*0.6))
else:
    print("There is no discount")

enter your price :  5000

the product of price is 4000.0

In [7]:
product_price=int(input("enter your price : "))
if product_price>3000:
    print("the product of price is {}".format(product_price*0.8))
elif product_price >=2000 and product_price <=3000:
    print("The product of price is {}".format(product_price*0.7))
elif product_price >=10 and product_price<=2000:
    print("The product of price is {}".format(product_price*0.6))
else:
    print("There is no discount")

enter your price :  2500

The product of price is 1750.0

In [8]:
product_price=int(input("enter your price : "))
if product_price>3000:
    print("the product of price is {}".format(product_price*0.8))
elif product_price >=2000 and product_price <=3000:
    print("The product of price is {}".format(product_price*0.7))
elif product_price >=10 and product_price<=2000:
    print("The product of price is {}".format(product_price*0.6))
else:
    print("There is no discount")

enter your price :  1000

The product of price is 600.0

In [9]:
product_price=int(input("enter your price : "))
if product_price>3000:
    print("the product of price is {}".format(product_price*0.8))
elif product_price >=2000 and product_price <=3000:
    print("The product of price is {}".format(product_price*0.7))
elif product_price >=10 and product_price<=2000:
    print("The product of price is {}".format(product_price*0.6))
else:
    print("There is no discount")

enter your price :  5

There is no discount

In [10]:
# if statement inside a elif statement or if statement is nested if statement
product_price=int(input("enter your price : "))
if product_price>3000:
    print("the product of price is {}".format(product_price*0.8))
elif product_price >=2000 and product_price <=3000:
    if product_price==2999:
        print("Congratulations you won a gift")
    print("The product of price is {}".format(product_price*0.7))
elif product_price >=10 and product_price<=2000:
    print("The product of price is {}".format(product_price*0.6))
else:
    print("There is no discount")

enter your price :  2999

Congratulations you won a gift
The product of price is 2099.2999999999997

In [11]:
product_price=int(input("enter your price : "))
if product_price>3000:
    if product_price==4999:
        print("Congratulations you won a goa trip")
    print("the product of price is {}".format(product_price*0.8))
elif product_price >=2000 and product_price <=3000:
    if product_price==2999:
        print("Congratulations you won a gift")
    print("The product of price is {}".format(product_price*0.7))
elif product_price >=10 and product_price<=2000:
    print("The product of price is {}".format(product_price*0.6))
else:
    print("There is no discount")

enter your price :  4999

Congratulations you won a goa trip
the product of price is 3999.2000000000003

In [12]:
product_price=int(input("enter your price : "))
if product_price>3000:
    if product_price==4999:
        print("Congratulations you won a goa trip")
    print("the product of price is {}".format(product_price*0.8))
elif product_price >=2000 and product_price <=3000:
    if product_price==2999:
        print("Congratulations you won a gift")
    print("The product of price is {}".format(product_price*0.7))
elif product_price >=10 and product_price<=2000:
    print("The product of price is {}".format(product_price*0.6))
else:
    print("There is no discount")
    print("enjoy shopping")

enter your price :  5

There is no discount
enjoy shopping

In [13]:
product_price=int(input("enter your price : "))
if product_price>3000:
    if product_price==4999:
        print("Congratulations you won a goa trip")
    print("the product of price is {}".format(product_price*0.8))
elif product_price >=2000 and product_price <=3000:
    if product_price==2999:
        print("Congratulations you won a gift")
    print("The product of price is {}".format(product_price*0.7))
elif product_price >=10 and product_price<=2000:
    print("The product of price is {}".format(product_price*0.6))
else:
    print("There is no discount")
    print("enjoy shopping")

enter your price :  4000

the product of price is 3200.0

In [14]:
product_price=int(input("enter your price : "))
if product_price>3000:
    if product_price==4999:
        print("Congratulations you won a goa trip")
    print("the product of price is {}".format(product_price*0.8))
elif product_price >=2000 and product_price <=3000:
    if product_price==2999:
        print("Congratulations you won a gift")
    print("The product of price is {}".format(product_price*0.7))
elif product_price >=10 and product_price<=2000:
    print("The product of price is {}".format(product_price*0.6))
else:
    print("There is no discount")
    print("enjoy shopping")

enter your price :  2500

The product of price is 1750.0

In [16]:
#single statement
val=int(input("Enter the price:"))
if val>=999:print("Value is greater than or equal to 999")

Enter the price: 1200

Value is greater than or equal to 999

In [17]:
#single statement
val=int(input("Enter the price:"))
if val>=999:print("Value is greater than or equal to 999")
else:
    print("bye")

Enter the price: 100

bye

In [18]:
#single statement
val=int(input("Enter the price:"))
if val>=999:print("Value is greater than or equal to 999")
else:print("bye")

Enter the price: 100

bye

## loop statements
  1) while loop
  2) for loop
  3) nested loops
  4) loop control (break,continue,pass)

In [2]:
# while loop
joining_age=40
while joining_age<=60:
    joining_age=joining_age+1
    print(joining_age)

41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61

In [3]:
# while loop
joining_age=40
while joining_age<=50:
    joining_age=joining_age+1
    print(joining_age)

41
42
43
44
45
46
47
48
49
50
51

In [6]:
# while loop
joining_age=40
while joining_age<=45:
    joining_age=joining_age+1
    print(joining_age)

41
42
43
44
45
46

In [6]:
# while loop
joining_age=40
while joining_age<=45:
    joining_age=joining_age+1
    print(joining_age)

41
42
43
44
45
46

In [7]:
# while loop
joining_age=40
while joining_age<=45:
    joining_age=joining_age+1
    print(joining_age)
else:
    print("retirement age")

41
42
43
44
45
46
retirement age

In [9]:
# while loop
joining_age=40
while joining_age<=45:
    print(joining_age)
    joining_age=joining_age+1
    
else:
    print("retirement age")

40
41
42
43
44
45
retirement age

In [12]:
#example for while loop
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100

1000
900
800
700
600
500
400
300
200
100

In [13]:
#example for while loop
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("no money")

1000
900
800
700
600
500
400
300
200
100
no money

In [16]:
#example for while loop
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("no money")
print("hi")

1000
900
800
700
600
500
400
300
200
100
no money
hi

In [20]:
# for loop
lst=["pk",1,2,3,4,"apple","banana"]

In [21]:
type(lst)

list

In [23]:
lst[0]

'pk'

In [24]:
lst[1]

1

In [25]:
lst[3]

3

In [26]:
lst[5]

'apple'

In [27]:
lst

['pk', 1, 2, 3, 4, 'apple', 'banana']

In [28]:
#the above list can be iterated through for loop
for x in lst :
    print(x)

pk
1
2
3
4
apple
banana

In [29]:
fruits=["apple","banana","mango","guava","kiwi"]

In [30]:
for a in fruits:
    print(a)

apple
banana
mango
guava
kiwi

In [32]:
for a in fruits:
    print(a)
    if a=="mango":
      print("mango is my fav")

apple
banana
mango
mango is my fav
guava
kiwi

In [33]:
for a in fruits:
    print(a,end="")
    if a=="mango":
      print("mango is my fav")

applebananamangomango is my fav
guavakiwi

In [34]:
for a in fruits:
    print(a,end="-")
    if a=="mango":
      print("mango is my fav")

apple-banana-mango-mango is my fav
guava-kiwi-

In [39]:
for a in fruits:
    print(a)
    if a=="guava":
      print("mango is my fav")  
      break

apple
banana
mango
guava
mango is my fav

In [40]:
for a in fruits:
    print(a)
    if a=="mango":
      print("mango is my fav")  
      break

apple
banana
mango
mango is my fav

In [41]:
fruit='mango'
for x in fruit:
    print(x)

m
a
n
g
o

In [42]:
fruit='mango'
for x in fruit:
    print(x,end='')

mango

In [44]:
fruit[2]

'n'

In [47]:
# range
for i in range(1,6):
    print(i)

1
2
3
4
5

In [48]:
for i in range(1,6,2):
    print(i)

1
3
5

In [49]:
for i in range(1,6,3):
    print(i)

1
4

In [50]:
#nested loops
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*")

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [51]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*")
    print("\r")

*

*
*

*
*
*

*
*
*
*

*
*
*
*
*

*
*
*
*
*
*

*
*
*
*
*
*
*

In [52]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end='')
    print("\r")

*
**
***
****
*****
******
*******

In [53]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end='')
    print("\n")

*

**

***

****

*****

******

*******

In [54]:
size = 7
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    # decrementing m after each loop
    m = m - 1
    for j in range(0, i + 1):
        print("* ", end=' ')
    print(" ")

            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

In [55]:
## loop controls
#break and continue
fruits=["apple","banana","mango","guava","kiwi"]

In [56]:
for i in fruits:
    print(i)

apple
banana
mango
guava
kiwi

In [58]:
for i in fruits:
    if i=="apple":
        print("the fruit is apple")
    print(i)

the fruit is apple
apple
banana
mango
guava
kiwi

In [59]:
for i in fruits:
    if i=="mango":
        print("the fruit is mango")
        break
    print(i)

apple
banana
the fruit is mango

In [60]:
for i in fruits:
    if i=="mango":
        print("the fruit is mango")
        pass
    print(i)

apple
banana
the fruit is mango
mango
guava
kiwi

In [61]:
for i in fruits:
    if i=="mango":
        print("the fruit is mango")
        continue
    print(i)

apple
banana
the fruit is mango
guava
kiwi