# Tuples

In [1]:
# represented with ()
t=()

In [3]:
type(t)

tuple

In [4]:
t1=(1,2,3,4,45.45,"priya",True) # any data can be stored

In [5]:
type(t1)

tuple

In [7]:
# list is represented with []
lst=[]
type(lst)

list

In [8]:
t1

(1, 2, 3, 4, 45.45, 'priya', True)

In [9]:
# extract 1 using index
t1[0]

1

In [11]:
t1[6]

True

In [12]:
# extracting the data in tuple in reverse order
t1[::-1]

(True, 'priya', 45.45, 4, 3, 2, 1)

In [13]:
# original tuple data wont be changed after reversing
t1

(1, 2, 3, 4, 45.45, 'priya', True)

In [14]:
# if we want to make changes in original tuple then we re assign the tuple
t1=t1[::-1]

In [15]:
t1    # here we assigned t1 with reverse order

(True, 'priya', 45.45, 4, 3, 2, 1)

### slicing operation in tuples

In [16]:
t1[0:3]

(True, 'priya', 45.45)

In [17]:
t1

(True, 'priya', 45.45, 4, 3, 2, 1)

### inbuilt operations in tuple

# only 2 inbuilt functions in tuples
   * count
    * index

In [21]:
t1.count(4)         # counts no of times given data is repeated

1

In [23]:
t1.count(45.45)

1

In [24]:
t1.count(45)

0

In [26]:
t1.count(1)    # true value is also stored as 1

2

In [29]:
t1.count(True)

2

In [25]:
t1.index(1)                # gives very first index of given data

0

In [27]:
t1.index("priya")

1

In [28]:
t1.index(4)

3

## differences between list and tuples

In [30]:
t1=(True,'priya',(45+3j),45.45,45,4,3,2,1)

In [31]:
lst=[1,2,3,4]

#### mutability and immutability

#### tuples are basically folows immutability concepts where it is not going to allow u to change any element at a particular index

In [32]:
# extract from tuple
t1[0]

True

In [33]:
# replacing element with another element in tuple
t1[0]=False

TypeError: 'tuple' object does not support item assignment

##### the above operation produced an error because tuples are immutable i.e the elements cannot replaced with another element

In [35]:
#extract from list
lst[0]

1

In [36]:
# replacing element with another element in list
lst[0]=5

In [38]:
lst     # lists are mutable

[5, 2, 3, 4]

In [39]:
t1

(True, 'priya', (45+3j), 45.45, 45, 4, 3, 2, 1)

In [40]:
# iterating tuples using for loop
for i in t1:
    print(i)

True
priya
(45+3j)
45.45
45
4
3
2
1

In [42]:
# iterating elements and their data types in tuples
for i in t1:
    print(i,type(i))

True <class 'bool'>
priya <class 'str'>
(45+3j) <class 'complex'>
45.45 <class 'float'>
45 <class 'int'>
4 <class 'int'>
3 <class 'int'>
2 <class 'int'>
1 <class 'int'>

In [43]:
t2=(1,2,3,4)

In [44]:
t2

(1, 2, 3, 4)

In [45]:
t2 * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [47]:
max(t2)   # shows highest number

4

In [48]:
min(t2)     # shows lowest number

1

In [61]:
t3=("naga","priya","krishna","simha")

In [62]:
max(t3)        # shows the string with highest alphabet

'simha'

In [64]:
min(t3)         # shows the string with lowest alphabet

'krishna'

In [65]:
t4=("banana","egg","zip","owl","apple","cat")

In [67]:
max(t4)

'zip'

In [68]:
min(t4)

'apple'

In [70]:
# tuple inside a tuple
t1=(1,2,3,4)
t2=(4,5,6,7,8)

In [74]:
t3=(t1,t2)

In [75]:
t3

((1, 2, 3, 4), (4, 5, 6, 7, 8))

### list inside a tuple or a tuple inside a list

In [77]:
t4=((1,2,3,4,5),[12,3,43,76])

In [78]:
t4

((1, 2, 3, 4, 5), [12, 3, 43, 76])

In [79]:
t5=(1,2,3,4)

In [80]:
t6=[1,2,34]

In [81]:
t7=(t5,t6)

In [82]:
t7

((1, 2, 3, 4), [1, 2, 34])

In [83]:
t7=[t6,t5]

In [84]:
t7

[[1, 2, 34], (1, 2, 3, 4)]

In [85]:
# deleting a tuple
t0=(1,2,3,4)

In [86]:
t0

(1, 2, 3, 4)

In [87]:
del t0

In [88]:
t0       # t0 no longer exists

NameError: name 't0' is not defined

In [92]:
t5=(1,2,3,4)
len(t5)

4

In [93]:
t1=(True,'priya',(45+3j),45.45,45,4,3,2,1)

In [94]:
"priya" in t1     # if elemen

True

In [95]:
6 in t1

False